# Language detection
* linguist-detectable
*.php linguist-vendored=false
*.css linguist-vendored=false
*.js linguist-vendored=false
*.twig linguist-vendored=false

# Ignore export
contributing export-ignore
documentation export-ignore
tests export-ignore
phpstan-bootstrap.php export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
README.md export-ignore
.git* export-ignore
.php* export-ignore
