#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
__MACOSX
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Config Files
#-------------------------
config.php
config-*.php

#-------------------------
# Temporary Files
#-------------------------
public/uploads/*
public/uploads/**/*
!public/uploads/.htaccess
!public/uploads/index.html
!public/uploads/placeholder.png
!public/uploads/placeholder_icon.png
!public/uploads/placeholder_thumb.png

!public/uploads/settings/
!public/uploads/settings/*/
!public/uploads/settings/placeholder.png
!public/uploads/settings/thumbs/placeholder.png
!public/uploads/settings/icons/placeholder.png

!public/uploads/users/
!public/uploads/users/*/
!public/uploads/users/placeholder.png
!public/uploads/users/thumbs/placeholder.png
!public/uploads/users/icons/placeholder.png

!public/uploads/peoples/
!public/uploads/peoples/*/
!public/uploads/peoples/placeholder.png
!public/uploads/peoples/thumbs/placeholder.png
!public/uploads/peoples/icons/placeholder.png

!public/uploads/_extension/
!public/uploads/_extension/**

themes/**/components/*
!themes/**/components/README

writable/cache/*
!writable/cache/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/**/*.db
writable/**/*.sqlite

#-------------------------
# Developments
#-------------------------
node_modules/
package-lock.json
vendor/
composer.lock

#-------------------------
# Extra Files
#-------------------------
.php-cs-fixer*.cache
