<span class="badge {% if value %} bg-success {% else %} bg-danger {% endif %}">
    {% if value %}
        {{ phrase('Active') }}
    {% else %}
        {{ phrase('Inactive') }}
    {% endif %}
</span>