<div class="w-100">
    {% for attribute in content %}
        <div class="row mb-1 border-top">
            <div class="col-12 col-sm-4">
                <label class="text-muted">
                    {{ attribute.label }}
                </label>
            </div>
            <div class="col-12 col-sm-8">
                {{ attribute.value }}
            </div>
        </div>
    {% endfor %}
</div>