<div>
    <span class="badge {{ value ? 'bg-success' : 'bg-danger' }}">
        {% if value %}
            {{ phrase('Active') }}
        {% else %}
            {{ phrase('Inactive') }}
        {% endif %}
    </span>
</div>