<div class="drawing-placeholder preloader position-relative w-100 overflow-hidden">
    <div role="map" id="map_{{ name }}" class="{{ class }}" data-geojson="{{ content | escape }}" data-mousewheel="0" title="{{ placeholder }}" style="height:360px"></div>
</div>